body{/*padding-top: 70px;*/ padding-bottom: 0 !important; margin: 0; background: #ececec;}
html, body{overflow-x: hidden}
span, strong{font-family: 'Roboto Condensed Bold', "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: normal}
.left{float: left}
.right{float: right}
.navbar-header .navbar-brand, .navbar-collapse .navbar-nav > li > a{color: #000}
.using li a, .using li a:hover, .head-link a, .head-link a:hover{color: #000; text-decoration: underline}
.white{background: #fff; color: #000;}
.grey{background: #efefef; color: #000;}
.grey-1{background: #999999;color: #fff !important}
.yellow-1{color: #fff !important; border-top: 10px solid #000;}
.yellow-bg {background: #fff200;}
.block-center {margin: 0 auto;}
.glyphicon-arrow-down { font-family: 'Glyphicons Halflings', Helvetica, Arial, sans-serif;}
.slider {position:relative;}
/* button style */
.btn-dark{ background: url(../images/dark-button.png) no-repeat;}
.btn-light{ background: url(../images/light-button.png) no-repeat;}
.btn-blue{ background: url(../images/blue-button.png) no-repeat;}
.btn-green{ background: url(../images/green-button.png) no-repeat;}
.btn-red{ background: url(../images/red-button.png) no-repeat;}
.btn-b{ 
  font: 45px 'Roboto Condensed Bold', "Helvetica Neue", Helvetica, Arial, sans-serif; 
  background-size: 100% 100%;
  color: #fff !important;  
  margin: 10px 0 10px;
  white-space: normal;
  height: 111px;
  width: 610px;
  padding: 22px 0 0 20px;
  float: left;
}

.btn-is {
  font: 28px 'Roboto Condensed Bold', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  white-space: normal;
  background: #000;
  padding: 14px;
  width: 100%;
  margin: 0 0 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.strongText{
  font-weight: bold;
}

.btn-is.white {
  background: #fff;
  text-decoration: underline;
  color: #000;
} 

.btn-is:hover {
  color: #CCC;  
}

.btn-is.white:hover {
  color: #666;  
}

.btn-black {
  font-family: Helvetica, Arial, sans-serif; 
  color: #fff !important;  
  margin-bottom: 30px;
  white-space: normal;
  background: #000;
}

#how h2, #is h2, #features h2, #download h2 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.title {
    cursor: default;
    background: transparent;
    color: #000;
    margin-bottom: 30px;
    white-space: normal;
    display: inline-block;
    padding: 6px 12px;
    font-size: 60px;
    font-weight: normal;
    line-height: 1.4 !important;
    text-align: center;
    vertical-align: middle;
    background-image: none;
}

.title p {
  margin-bottom: 0px;
  line-height: 1;
}
.is .title {
  line-height: 1 !important;  
}
.title:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.title:hover,
.title:focus {
    color: #000;
    text-decoration: none;
}

.title:active,
.title.active {
    background-image: none;
    outline: 0;
}

.icon{width: 20px; height: 20px; background: black; border-radius: 15px; padding: 3px 8px; font-size: 16px; font-weight: normal;}
.btn-grey{background: #AAA; color: #fff; border-radius: 0; margin-bottom: 15px; font-weight: bold}
.btn-dark:hover, .btn-dark:focus, .btn-grey:hover, .btn-grey:focus{color: #fff;text-decoration: none}

/* section style */
.content{/*padding: 60px 0;*/ font-size: 25px; margin-bottom: 0;background:#FFF;}

/* footer content */
.panel-footer{background: #fff; padding-bottom: 0; margin-bottom: 0; border-radius: 0; padding-top: 30px !important; border-top: 0}
.panel-footer h2 { text-align: center; }
.panel-footer h2 a{ font: 33px 'Roboto Condensed Bold', "Helvetica Neue", Helvetica, Arial, sans-serif; color: #000; text-decoration: underline;}
.panel-footer ul{list-style: none; padding: 0}
.panel-footer .container{padding-bottom: 50px}
.panel-footer ul li{font-size: 18px;text-decoration: none; color: #000;text-align: center;line-height: 25px;}
.contact{background: #000; text-align: center; padding: 1% 0;}
.contact a{text-align: center; font-size: 24px; color: #fff; text-decoration: underline; border-left: 1px solid #fff; padding: 0 10px}
.contact a:first-child{border-left: 0}
.footer-logos { background: #fff; text-align:center; }
.footer-logos img { padding: 15px; max-height:130px; display: inline-block;}
.footer-logos .container { padding: 40px 0 !important; }

/* index page */
.header h2, .header p {color: #000;}
.container { overflow: hidden; }
/*.header img {height: 60px}*/
.illus { margin-bottom: 40px; border-top: 1px solid #000; border-bottom: 1px solid #000; }
.carousel-control.left, .carousel-control.right { background: url(../images/arrow-large.png) no-repeat; display: block; width: 31px; height: 61px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; cursor: pointer; color: #000; content: ""; }
.carousel-control.left { left: -24%; }
.carousel-control.right { right: -24%; text-align: right; background: url(../images/arrow-large-r.png) no-repeat; }
.slide {/*background: #efefef;*/ color: inherit}
.features .text-center img {height: 250px}
.features .te { margin-bottom: 30px; }
.features .download-button {margin: 85px 0 0;}
.features .more {margin-top: 40px;}
.download { padding-bottom: 70px; }
.download .download-cont { width: 640px; margin: 0 auto;}
.download .download-cont .wrapper p {font-size: 33px; text-align: left; float: left; margin: 0 0 0 10px;}
.download .download-cont .wrapper.last p { padding-top: 25px;}
.download .download-cont .wrapper img { float: right; margin: 0 26px 0 0; }
.download .download-cont .wrapper { border-top: 1px solid #000; padding: 20px 10px;}
.download .download-cont .wrapper.last { border-bottom: 1px solid #000; }
.download .img{text-align: center}
.download .img img{margin-bottom: 30px}
.down_lists .btn {font-size: 12px; margin-bottom: 0}
.text-left img {float: right}
.down_lists .img-1, .down_lists .img-2, .down_lists .img-3{height: 30px; margin-top: 1px; margin-bottom: 10px}
.slideshow{ position: relative; width: 293px; height: 554px; background: url(../images/img-15.png); background-position: center; background-size: 100% 100%; padding: 59px 15px 59px 15px; margin-bottom: 20px !important}
.slideshow .item img{width: 100%; height: auto}
.selector {position: relative; bottom: 0; left: 0; z-index: 15; width: auto; padding-left: 0; margin-left: 0; text-align: left; list-style: none}
.selector li {display: inline-block; width: 100% !important; height: auto !important; margin: 0; text-indent: 0px; cursor: pointer; background-color: transparent; background-color: transparent; border: 0px; border-radius: 0px; background: transparent}
.selector li p{ font-family: 'Roboto Condensed Regular', "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 35px; margin: 0;  position: absolute; top: 0; right: 5px; height: 100%; width: 43%; opacity: 0; -webkit-opacity: 0; -moz-opacity: 0; -webkit-transition: all 0.8s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 0.8s ease;}
.selector li.active p { -webkit-opacity: 1; -moz-opacity: 1; opacity: 1; }
.selector span { width: 206px; display: block; padding-left: 10px;}
.selector li.separator { position: absolute; top: 0; left: 52%; height: 100% !important; width: 3px !important; border-left: 1px solid #b6b6b6; }
.carousel-indicators .active { background: #fff; }
.selector .active span, .selector .next span, .selector .item span {background: #000; color: #fff; border: 0}
.postion{text-align: right}
.text-left {text-align: left !important}
.offset-marge {margin: 0 auto; float: none;margin-bottom: 25px}
.container.is-cont { border-top: 1px solid #000; border-bottom: 1px solid #000; text-align:left; padding: 20px; margin: 20px 0; }
.container.is-cont .step-progress { padding: 0;}
.container.is-cont .cont-r {padding: 20px 50px 60px;}
.container.is-cont .cont-r img {max-height: 186px}
.container.is-cont .cont-r .btext { font-size: 40px; margin-bottom: 20px; height: 186px;}
.container.is-cont .cont-r .btext a { color: #000; text-decoration: underline; font-weight: bold; }
.is .form{padding: 10px 80px}
.form{height: 600px}
.form p{font-size: 18px}
.form .text-content{margin-bottom: 30px}
.form .btn{width: 100%; white-space: normal}
#step-1 .back {color: #FFF; cursor: unset;}
#final .cont-r {padding: 20px 50px 149px;}
.offset{margin: 0 auto;}
.slider .text{height: 206px; display: table-cell; vertical-align: middle; float: none; border: 5px solid #FEFEFE; padding: 0 30px}
.slider .text.border{border: 5px solid #ff0000;}
.text p{text-align: center; width: 1600px; vertical-align: middle; display: table-cell}
.back, .option, .sub-back{display: inline-block; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.428571429; text-align: center; vertical-align: middle; cursor: pointer; background-image: none; border: 1px solid transparent; border-radius: 4px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; color: #000; text-decoration: underline}
.option{font-weight: bold; width: 100%}
.back{font-size:28px; font-weight:bold;}
.back:hover, .back:active, .option:hover, .option:active, .sub-back:hover, .sub-back:active{color: #000}
.step-5 .link{text-decoration: underline}
.step-5 .link:hover{color: #000}
.download-button { background: url(../images/download-icon.png) no-repeat; background-size: 100% 100%; width: 330px; height: 86px; display:inline-block; margin: 40px 0; clear:both; }
.more { width: 80px; height: 122px; display: inline-block; margin: 0 0 65px; line-height: 1; }
.more .button { background: url(../images/more-icon.png) no-repeat; width: 80px; height: 80px; display: block; }
.more .button-pact { background: url(../images/pact-icon.png) no-repeat; width: 80px; height: 80px; display: block; }
.more-pact { width: 100%; height: 122px; display: inline-block; margin: 0 0 65px; line-height: 1; text-align: center;}
.more-pact .button-pact-browse { background: url(../images/pact-browse-icon.png) no-repeat; margin:15px auto; width:80px; height: 80px; display: block; }
.more-pact .button-pact-download { background: url(../images/pact-download-icon.png) no-repeat; margin:15px auto; width:80px; height: 80px; display: block; }
.more-pact a:hover { text-decoration: none;}
.gamecard .more-pact{ margin-bottom: 0;}
.more-pact .questionmrk{ padding: 20px 30px;}
.more.top .button { background: url(../images/top-icon.png) no-repeat; }
.more.top {
  margin-top: 30px; 
}
.more a { text-decoration: none; }
.more strong { font-size: 25px; color: #000; margin: 0 0 10px; display: block;}
.bar { height: 10px; border-bottom: 10px solid #000; width: 640px; display: inline-block; }
.center { text-align: center;}
.car-container { position:relative; height: 505px;}
.ci { position: relative; width: 640px; border-top: 1px solid #000; margin: 0 auto;}
.intro { font-size: 162%; }

/* sign section */
.sign-cont { margin: 0 auto; padding: 0; width: 60%;}
.sign-cont .sign-form { margin: 0 0 30px 0; height: 50px; }
.sign-cont .text-position { margin: 30px 0 38px; }
.sign {font-size: 14px; line-height: 1em; padding: 10px 0 !important; margin: 0}
.sign-text {font: 55px 'Roboto Condensed Bold', "Helvetica Neue", Helvetica, Arial, sans-serif; color: #000 !important; padding: 0; margin: 5px 0 !important; line-height: 1.4em}
.sign input[type='email'] { padding: 5px; float: left; color: #555; border: 1px solid #fff; width: 71%; font-weight: bold; line-height: 1em; height: 50px; font: 28px Helvetica, Arial, sans-serif; outline: none}
.sign p{margin: 5px 0}
.sign .btn {margin: 0; font-size: 12px; line-height: 1em}
.sign input[type='submit'] { height: 50px; float: left; border: none; background: #000; padding: 0 10px; color: #fff; font: 25px Helvetica, Arial, sans-serif; font-weight: bold; margin-left: 15px;}

/* internal pages */
.intcont { padding: 30px 60px; font-size: 23px; }
.intcont .bar { margin: 20px 0 0;}
.intcont .bordertb { border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 60px 0 30px; width: 640px; margin: 10px auto 30px; }
.intcont p {line-height: 1.2; margin: 0 0 30px 0;}
.img-capt { margin: 10px 12% 20px !important; font-size: 21px; }
.intcont h1 { margin: 30px 0 25px; padding: 0 5px; }
.bottompad { padding-bottom: 70px;}

/* about page */
.about-illus { border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 10px 0; }
.img-frame {padding: 10px; background: #efefef; width: 320px; margin: 5px 0 15px 15px}
.img-frame img {width: 100%}
.img-frame p { font-size: 12px; color: #b2b2b2; padding-top: 5px; margin-bottom: 0}
.organisations img { margin: 30px 0; border: 1px solid #d3d3d3; }
ul.arrows { margin: 0 10px 35px 15px; padding: 0; }
.arrows li {
  list-style: none;
  background: url(../images/li-arrow.png) no-repeat 0 2px;
  padding: 0 10px 0 45px;
  margin: 0 0 20px;
  height: 28px;
  line-height: 1.2;
}

.arrows li a {
  text-decoration: underline;
  color: #000;  
}

.arrows ul li {
  background: url(../images/li-dot.png) no-repeat 0 5px;  
  margin: 0 0 20px 10px;
  padding: 0 10px 0 28px;
}

/* help-landing */

.jumbotron.help {
  line-height: 1 !important;  
}

.help-title {
  margin-bottom: 15px;  
}

.help-title a {
  font-size: 28px;
  color: #000;
  text-decoration: underline;
  line-height: 35px !important;
}

.help-box img {
  border: none;
  width: 180px;
  height: 166px;
  margin-bottom: 20px;  
}

.help-box {
  margin-bottom: 15px;  
}

.help-box p {
  padding: 0;
  margin: 0;
  font-size: 22px;
}

.subtitle {
  font-size: 120%;  
}

/* help-edit page*/
.installation a, .configuration a {color: #000; text-decoration: underline; cursor: pointer; outline: none}
.black {background: #555; margin-top: 20px; margin-bottom: 20px}
.black img {height: 40px; margin: auto; position: absolute; top: 0; bottom: 0}
.black p {color: #fff !important; font-size: 16px; font-weight: bold; margin-left: 55px; padding: 10px 0; margin-bottom: 0}
.sub-link {font-size: 16px}
.configuration .text-center img {padding: 30px 0; height: 300px}
.breadcrumb { font-size: 35px; background: #fff; }
.breadcrumb a { text-decoration: underline; color: #000;}
#header ul.arrows { margin: 0; padding: 0; }
/* top link */
.top{padding-right: 0; padding-left: 0}
.top p{margin-top: 8px}
.article-img { border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 15px 0 !important; }
.article-img img { border: 1px solid #000; }
.img-fig { font-size: 17px; padding: 5px !important; }
.halert { background: #000; width: 100%; height: 100%; color: #ffff00; }
.halert .exclam { 
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 350%;
  width: 20px;
  line-height: 1;
  font-weight: bold;
  margin: 7px;
}
.halert .atext { 
  float: left;
  font-size: 80%;
  width: 94%;
  padding: 20px 15px !important; 
}
/* bootstrap */

/************************************************

home page

************************************************/
ul.cards {
  padding: 0;
  text-align: center;
}
ul.cards li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 10px 50px;
}
ul.cards li > .cover {
  width: 100px;
  border: 1px solid #ddd;
  padding: 0;
  background: #fff;
  float: left;
}
ul.cards li > .cover:hover {
  border: 1px solid #222;
}
ul.cards li > .cover a {
  display: inline-block;
  padding: 4px;
  border-right: 5px solid #fff300;
  border-left: 5px solid #222;
  font-size: 14px;
  font-weight: 700;
  color: #222;
  text-align: center;
  height: 140px;
}
ul.cards li > .cover a img {
  max-width: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
}
ul.cards li > .cover a:hover {
  text-decoration: none;
}
ul.cards li h3 {
  margin-top: 5px;
}
ul.cards li > .card-meta {
  text-align: left;
  float: left;
  font-size: 16px;
}
ul.cards li > .card-meta > div {
  padding: 5px 0;
}
ul.cards li > .card-meta .goals {
  border-bottom: 1px solid #fff300;
  margin-bottom: -1px;
}
ul.cards li > .timespan {
  text-align: left;
  font-size: 16px;
  float: left;
  width: 200px;
  border-left: 1px solid #fff300;
  min-height: 140px;
}
@media only screen and (max-width: 767px) {
  ul.cards li {
    margin-right: 20px;
    width: auto;
  }
  .card-meta,
  .timespan {
    display: none;
  }
}
h1 small {
  display: block;
}
.card-0 .page-header {
  position: relative;
  padding-top: 50px;
}
.card-0 .page-header h1 {
  bottom: 0;
}
.card-0 #hp {
  text-align: center;
}
.card-0 #hp .btn {
  margin: 50px 0;
  width: 160px;
}
#onlineContent {
  margin-top: 40px;
  padding: 10px;
  border: 4px dashed #fff300;
}

/* counter at top of pact cards */
.page-header .counter {
  position: relative;
}
.page-header .counter .cardNum {
  margin: 100px 0 -46px;
  font-size: 20px;
}

/************************************************

Nav

************************************************/
.bottom-nav a {
  //position: fixed;
  display: block;
  border-radius: 25px;
  border: 2px solid #000;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  overflow: hidden;
  color: transparent;
  font-size: 20px;
}
.bottom-nav a:before {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #000;
  display: block;
  margin: 14px 0px 0px 14px;
}
.bottom-nav a.btn_prev {
  /*left: 30px;
  bottom: 30px;*/
  float: left;
}
.bottom-nav a.btn_prev:hover:before {
  border-right-color: #222;
}

.bottom-nav a:hover {
  background-color: #fff300;
  color: #fff300;
}
.bottom-nav a.btn_next {
 /* right: 30px;
  bottom: 30px;*/
  float: right;
}
.bottom-nav a.btn_next:before {
  border-right: none;
  border-left: 15px solid #000;
  margin: 14px 0 0 19px;
}
.bottom-nav a.btn_next:hover:before {
  border-left-color: #222;
}
.bottom-nav a.btn_home {
  position: fixed;
  left: 5%;
  top: 5px;
}
.bottom-nav a.btn_home:before {
  border-top: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #000;
}
.bottom-nav a.btn_home:hover:before {
  border-bottom-color: #222;
}

@media only screen and (max-width: 767px) {
  .bottom-nav a .bottom-nav a.btn_prev,
  .bottom-nav a .bottom-nav a.btn_next {
    float: none;
    position: fixed;
    bottom: 5px;
    top: auto;
    margin-top: 0;
  }
}

.cs-online {
    font-weight: 300;
    font-size: 20px;
}



.pact-title {
  margin-bottom: 45px;  
  font-size: 34px;
  color: #000;
  text-align: center;
  line-height: 35px !important;
}

.pactgame{
  margin-top: 45px;
}

.pact .post-full {
  padding: 30px 60px;
}