<div class="row gamecard">
  <div class="gc-front">
    {% if page.img %}
    <img src="{{ BASE_PATH }}/assets/img/gc_{{ page.cardNum }}.png" alt="{{ page.title }}">
    {% else %}
    <img src="{{ BASE_PATH }}/assets/img/gc_.2.png" alt="{{ page.title }}">
    {% endif %}

    {% if page.bio %}
    <div class="token">
      <h3>TOKEN:</h3>
      <h2>{{ page.token }}</h2>
    </div>
    {% endif %}

    <header>
      <h1>{{ page.title }}</h1>
      {% if page.bio %}
      <div class="bio">
        <p>{{page.bio | markdownify }}</p>
      </div>
      {% endif %}
    </header>
  </div>

  <div class="gc-inlay">
    <div class="content">
      <p>{{content | markdownify }}</p>
    </div>
  </div>

</div>
