<section class="content white container jumbotron is center" id="is">
    <div class="container mobnopad">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2><div class="title" role="button">{{section.heading | markdownify}}</div></h2>
            <div>{{section.content}}</div>
        </div>
        <div class="clearfix"></div>
        <div class="halert">
            <div class="exclam">!</div>
            <div class="atext"><p>{{ section.alert }}</p></div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container is-cont mobnopad">
        {% for step in section.questions %}
        {% if forloop.last %}
        <div id="final" class="slider question" style="display: none;">
            <div class="row cont-r">
                <div class="col-xs-6 col-sm-6 col-lg-8">
                    <p class="btext">{{step.content}}</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    <img src="{{step.src}}" alt="Android Logo" class="img-responsive block-center" />
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-2xs-12 col-3xs-12 col-4xs-12">             
                <div class="row" align="center">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a class="back col-lg-12 col-md-12 col-sm-12 col-xs-12 back" data-option="back" role="button">
                            <span class="strongText">
                                back
                            </span>
                        </a>
                        <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Recommendation 5 / 5</p>
                        <div class="step-progress col-xs-12 offset">
                            <p>
                                <img alt="Recommendation Step" src="images/step-5.png">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div id="step-{{step.id}}" class="slider question" style="display: none;">
            <div class="row cont-r">
                <div class="col-xs-6 col-sm-6 col-lg-8">
                    <p class="btext">{{step.content}}</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    <img src="{{step.src}}" alt="Android Logo" class="img-responsive block-center" />
                </div>
            </div>
            <div class="row but">
                <div class="col-xs-12 col-sm-4">
                    <a class="btn btn-is sub" role="button" data-option="answer-1">{{step.answers[0].answer}}</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a class="btn btn-is sub" role="button" data-option="answer-2">{{step.answers[1].answer}}</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a class="btn btn-is sub" role="button" data-option="answer-3">{{step.answers[2].answer}}</a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-2xs-12 col-3xs-12 col-4xs-12">             
                <div class="row" align="center">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a class="back col-lg-12 col-md-12 col-sm-12 col-xs-12 back" data-option="back" role="button">
                            <span class="strongText">
                                back
                            </span>
                        </a>
                        <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Question {{step.id}} / 5</p>
                        <div class="step-progress col-xs-12 offset">
                            <p>
                                <img alt="Step for question number {{step.id}} out of 5" src="images/step-{{step.id}}.png">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% for answer in step.answers %}
        <div id="step-{{step.id}}-answer-{{answer.id}}" class="slider answer-{{answer.id}}" style="display: none;">
            <div class="row cont-r">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-2xs-12 col-3xs-12 col-4xs-12 text-content">
                    <div class="text {% if answer.status == 'warning' %}border{% endif %}">
                        <p>{{answer.content}}</p>
                    </div>
                </div>
            </div>
            <div class="row but">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4">
                    <a class="btn btn-is cont" role="button" data-option="continue">{% if answer.status == 'warning' %}Continue Anyway{% else %}Continue{% endif %}</a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-2xs-12 col-3xs-12 col-4xs-12">             
                <div class="row" align="center">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a class="back col-lg-12 col-md-12 col-sm-12 col-xs-12 back" data-option="back" role="button">
                            <span class="strongText">
                                back
                            </span>
                        </a>
                        <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Recommendation {{step.id}} / 5</p>
                        <div class="step-progress col-xs-12 offset">
                            <p>
                                <img alt="Step for answer number {{step.id}} out of 5" src="images/step-{{step.id}}.png">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    {% endfor %}
    </div>
    <div class="container center mobnopad">
        <a class="download-button btn-n" href="#download" role="button">&nbsp;</a>
        <div class="clearfix"></div>
        <div class="more">
            <strong>More</strong>
            <a class="button btn-n" role="button" href="#features">&nbsp;</a>
        </div>
        <div class="clearfix"></div>
        <div class="bar">&nbsp;</div>
    </div>
</section>
