<section class="grey center" id="features">
    <div class="content features grey container jumbotron mobnopad">
        <div id="slideshow" class="carousel slide" data-ride="carousel">
            <div class="te col-lg-12 col-md-12 col-sm-12">
                <h1><div class="title" role="button">{{section.heading | markdownify}}</div></h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-2xs-12 col-3xs-12 col-4xs-12">
                <div class="slideshow offset">
                    <div class="carousel-inner">
                        <div class="item active">
                            <p class="text-center"><img alt="{{section.features[0].feature}}" src="images/screen-1.png"></p>
                        </div>
                        <div class="item">
                            <p class="text-center"><img alt="{{section.features[1].feature}}" src="images/screen-1.png"></p>
                        </div>
                        <div class="item">
                            <p class="text-center"><img alt="{{section.features[2].feature}}" src="images/screen-1.png"></p>
                        </div>
                        <div class="item">
                            <p class="text-center"><img alt="{{section.features[3].feature}}" src="images/screen-1.png"></p>
                        </div>
                        <div class="item">
                            <p class="text-center"><img alt="{{section.features[4].feature}}" src="images/screen-1.png"></p>
                        </div>
                    </div>
                    <a class="carousel-control left" href="#slideshow" data-slide="prev">&nbsp;</a>
					<a class="carousel-control right" href="#slideshow" data-slide="next">&nbsp;</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-2xs-12 col-3xs-12 col-4xs-12 mobnopad">
                <ol class="carousel-indicators selector">
                    <li data-target="#slideshow" data-slide-to="0" class="active">
                    	<span>{{section.features[0].feature}}</span><p>{{section.features[0].content}}</p>
                    </li>
                    <li data-target="#slideshow" data-slide-to="1" class=""><span>{{section.features[1].feature}}</span><p>{{section.features[1].content}}</p></li>
                    <li data-target="#slideshow" data-slide-to="2" class=""><span>{{section.features[2].feature}}</span><p>{{section.features[2].content}}</p></li>
                    <li data-target="#slideshow" data-slide-to="3" class=""><span>{{section.features[3].feature}}</span><p>{{section.features[3].content}}</p></li>
                    <li data-target="#slideshow" data-slide-to="4" class=""><span>{{section.features[4].feature}}</span><p>{{section.features[4].content}}</p></li>
                	<li class="separator">&nbsp;</li>
                </ol>
                <a class="download-button btn-n" href="#download" role="button">&nbsp;</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="more">
        	<span>More</span>
            <a class="button btn-n" role="button" href="#download">&nbsp;</a>
        </div>
        <div class="clearfix"></div>
        <div class="bar">&nbsp;</div>
    </div>
</section>
