<section id="how" class="container center mobnopad">
    <h2><div class="title" role="button">{{section.heading | markdownify}}</div></h2>
    <div class="ci">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="{{ BASE_PATH }}/images/illustration_2.gif" alt="Slide 1" />
                    <p class="flex-caption">{{section.captions[0]}}</p>
                </li>
                <li>
                    <img src="{{ BASE_PATH }}/images/illustration_3.gif" alt="Slide 2" />
                    <p class="flex-caption">{{section.captions[1]}}</p>
                </li>
                <li>
                    <img src="{{ BASE_PATH }}/images/illustration_4.gif" alt="Slide 3" />
                    <p class="flex-caption">{{section.captions[2]}}</p>
                </li>
                <li>
                    <img src="{{ BASE_PATH }}/images/illustration_5.gif" alt="Slide 4" />
                    <p class="flex-caption">{{section.captions[3]}}</p>
                </li>
                <li>
                    <img src="{{ BASE_PATH }}/images/illustration_6.gif" alt="Slide 5" />
                    <p class="flex-caption">{{section.captions[4]}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="more">
        <strong>More</strong>
        <a class="button btn-n" role="button" href="#is">&nbsp;</a>
    </div>
    <div class="clearfix"></div>
    <div class="bar">&nbsp;</div>       
</section>
