<section class="content white container jumbotron header center" id="home">
    <div class="col-lg-12 col-md-12 col-sm-12 offset mobnopad">
        <div><strong><h1><span>{{section.heading}}</span></h1></strong></div>
        <div class="intro">
					{{ section.content }}
				</div>
        <img src="/images/illustration_1.gif" class="illus img-responsive block-center" alt="Illustration" />
        <div class="clearfix"></div>
        <div class="more">
        	<strong>More</strong>
            <a href="#how" role="button" class="button btn-n">&nbsp;</a>
        </div>
        <div class="clearfix"></div>
        <div class="bar">&nbsp;</div>
    </div>        
</section>