<section class="content white container jumbotron download center mobnopad" id="download">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h2><div class="title">{{section.heading | markdownify}}</div></h2>
    </div>
    <div class="clearfix"></div>
  <div class="download-cont">
        <div class="wrapper">
        	<div class="w">
                <img src="{{ site.JB.BASE_PATH }}/images/google-play-logo.png" alt="Google Play Logo" />
                <div>{{section.downloads[0].download | markdownify}}</div>
                <a href="{{section.downloads[0].link}}" class="btn btn-b btn-blue text-left">{{section.downloads[0].label}}</a>
                <div class="clearfix"></div>
             </div>
        </div>
        <div class="wrapper last">
        	<div class="w">
                <img src="{{ site.JB.BASE_PATH }}/images/github-logo.png" alt="Github Logo" />
                <div>{{section.downloads[1].download | markdownify}}</div>
                <a href="{{section.downloads[1].link}}" class="btn btn-b btn-red text-left">{{section.downloads[1].label}}</a>
                <div class="clearfix"></div>
            </div>
        </div>
</div>
    <div class="clearfix"></div>
</section>
