<section class="content white container jumbotron is center" id="is"> 
    <div class="container mobnopad">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="title" role="button">{{section.heading | markdownify}}</div>
    		<div>{{section.content}}</div>
        </div>
    </div>
    <div class="container is-cont mobnopad">
    	<div class="step-1" id="first">
           	<div class="row cont-r">
                <div class="col-xs-6 col-sm-6 col-lg-8">
                    <p class="btext">Do you have an <span>ANDROID</span><br /> <a href="#">phone</a>?</p>
                    <div class="prog-cont">
                        <p class="prog">Question 1 / 5</p>
                        <div class="step-progress col-xs-12">
                            <p><img src="images/step-1.png"></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    <img src="images/android-logo.png" alt="Android Logo" class="img-responsive block-center" /> 
                </div>
            </div>
            <div class="row but">
                <div class="col-xs-12 col-sm-4">
                    <a class="btn btn-is sub" role="button" data-option="sub_1">yes</a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a class="btn btn-is white sub" role="button" data-option="sub_2">back</a>
                </div>
                
                <div class="col-xs-12 col-sm-4">
                    <a class="btn btn-is sub" role="button" data-option="sub_3">no</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container center mobnopad">
        <a class="download-button btn-n" href="#download" role="button">&nbsp;</a>
        <div class="clearfix"></div>
        <div class="more">
            <span>More</span>
            <a class="button btn-n" role="button" href="#features">&nbsp;</a>
        </div>
        <div class="clearfix"></div>
        <div class="bar">&nbsp;</div>
    </div>
</section>