<section class="content white container jumbotron header center" id="pact">
    <div class="col-lg-12 col-md-12 col-sm-12 offset mobnopad">
        <div><strong><h1><span>{{section.heading}}</span></h1></strong></div>
        <div>{{ section.content }}</div>
        <!--<img src="{{ BASE_PATH }}/images/illustration_1.gif" class="illus img-responsive block-center" alt="Illustration" />
        --><div class="clearfix"></div>
        <div class="row">
            <div class="col-md-3 col-md-offset-3 col-sm-12">
                <div class="more-pact">
                	<strong>Browse the Kit</strong>
                    <a href="/pact/pact.html" role="button" class="button-pact-browse btn-n">&nbsp;</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="more-pact">
                    <strong>Download the Kit</strong>
                    <a href="/training-kit-cards-11.12.2014.zip" role="button" class="button-pact-download btn-n">&nbsp;</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="bar">&nbsp;</div>
    </div>        
</section>