<section id="{{subsection.slug}}" class="white container content intcont mobnopad">
        <div class="col-lg-12 col-md-12 col-sm-12">
					<div class="subtitle">
						<strong>{% if subsection.heading %}{{ subsection.heading | markdownify}}{% endif %}</strong>
					</div>
					{% if subsection.content %}{{ subsection.content | markdownify }}{% endif %}
	        <div class="clearfix"></div>
	        {% if subsection.alert %}
					<div class="halert">
	        	<div class="exclam">!</div>
	            <div class="atext">
	            	{{subsection.alert}}
	            </div>
	            <div class="clearfix"></div>
	        </div>
					{% endif %}
        </div>
    </div>
</section>