<!DOCTYPE html>
{% include JB/setup %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ site.name }}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ BASE_PATH }}/css/bootstrap.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="{{ BASE_PATH }}/css/carousel.css" rel="stylesheet">
    <!-- media CSS -->
    <link href="{{ BASE_PATH }}/css/media.css" rel="stylesheet">
    <link href="{{ BASE_PATH }}/css/flexslider.css" rel="stylesheet">
    <!-- Base CSS -->
    <link href="{{ BASE_PATH }}/css/style.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="{{ ASSET_PATH }}/bootstrap-3/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
	<!-- Pulled from http://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]>
    <script src="/html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  
    <link href="{{ BASE_PATH }}/{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}/{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
</head>
<body data-spy="scroll" data-target=".navbar-scroll">
  {{ content }}
	<script type="text/javascript" src="{{ BASE_PATH }}/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="{{ BASE_PATH }}/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="{{ BASE_PATH }}/js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ BASE_PATH }}/js/scripts.js"></script>
	<script type="text/javascript">
		$('.flexslider').flexslider({
	      animation: 'fade',
	      controlsContainer: ".ci",
		  prevText: "",
		  nextText: "",
	    });
	
	    $('#slideshow').carousel({interval: 2000});
	</script>
</body>
</html>