<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ site.name }}</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Base CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="/css/carousel.css" rel="stylesheet">
    <!-- media CSS -->
    <link href="/css/media.css" rel="stylesheet">
    <link href="/css/flexslider.css" rel="stylesheet">
	<!-- Pulled from http://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->  
</head>
<body data-spy="scroll" data-target=".navbar-scroll">
  {{ content }}
	<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
	<script type="text/javascript">
		$('.flexslider').flexslider({
	      animation: 'fade',
	      controlsContainer: ".ci",
		  prevText: "",
		  nextText: "",
	    });
	
	    $('#slideshow').carousel({interval: 2000});
	</script>
	<script type="text/javascript" src="/js/respond.min.js"></script>
</body>
</html>