---
layout: default
---
{% include JB/setup %}
{% include nav.html %}
<div id="content">
	<section id="header" class="content white container intcont mobnopad">
		<div class="col-xs-12 breadcrumb">
			  <a href="/">Home</a> &gt; {% if page.parent %}<a href="/{{page.parent.link}}">{{page.parent.title}}</a> &gt; {% endif %}<span>{{page.title}}</span>
		</div>
		<section id="pact_toc" class="white container header content intcont mobnopad">
	
    </section>    <div class="col-lg-12 col-md-12 col-sm-12 center">
	          <div class="title" role="button"><strong>{{ title }}</strong></div>
	    </div>
	    <div class="col-lg-12 col-md-12 col-sm-12">
					{{content | markdownify}}
	    </div>

    <div class="clearfix"></div>
		<div class="clearfix"></div>
		{% assign toc = site.categories[page.toc] | sort section_order %}
		<div class="col-lg-12 col-md-12 col-sm-12">
			<ul class="arrows">
			{% for sub in toc %}
				<li>
					{{ sub.title }} {% if sub.goals %} <br/><small>&rarr; Goal: {{ sub.goals }}</small><br/><div class="clearfix"></div><br/>{% endif %}
				</li>
			  	{% assign subtoc = site.categories[sub.toc] | sort sub.section_order %}
				{% if subtoc.size > 1 %}
					<ul>
					{% for subsub in subtoc %}
					<li><a href="/{{sub.slug}}/{{sub.slug}}-{{subsub.slug}}.html">{{ subsub.title }}</a> {% if subsub.goals %} <br/><small>&rarr; Goal: {{ subsub.goals }}</small><br/><div class="clearfix"></div><br/>{% endif %}</li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		<div class="center"><div class="bar">&nbsp;</div></div>
	</section>
</div>

{% for footer in site.categories.footer %}
  {% include home_footer.html %}
{% endfor %}