---
layout: default
---
{% include JB/setup %}
{% include nav.html %}
<div id="content">
	<section id="header" class="content white container intcont mobnopad">
		<div class="col-xs-12 breadcrumb">
			  <a href="/">Home</a> &gt; {% if page.parent %}<a href="/{{page.parent.link}}">{{page.parent.title}}</a> &gt; {% endif %}<span>{{page.title}}</span>
		</div>
		<div class="clearfix"></div>
		{% assign toc = site.categories[page.toc] | sort section_order %}
		<div class="col-lg-12 col-md-12 col-sm-12">
			<ul class="arrows">
			{% for sub in toc %}
				<li>
					<a href="#{{sub.slug}}">{{ sub.title }}</a>
				</li>
			  	{% assign subtoc = site.categories[sub.toc] | sort sub.section_order %}
				{% if subtoc.size > 1 %}
					<ul>
					{% for subsub in subtoc %}
					<li><a href="#{{subsub.slug}}">{{ subsub.title }}</a></li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endfor %}
			</ul>
		</div>
		<div class="center"><div class="bar">&nbsp;</div></div>
	</section>
	<div id="article">
		{% assign toc = site.categories[page.toc] | sort section_order %}
		{% for section in toc %}
		   	{% include module.html param="module_section_heading" %}
		  	{% if section.toc %}
		    	{% assign subsectiontoc = site.categories[section.toc] | sort section.section_order %}
				{% for subsection in subsectiontoc %}
					{% include module.html param="module_section_subsection" %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
</div>

{% for footer in site.categories.footer %}
  {% include home_footer.html %}
{% endfor %}